@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

.bg-banner {
  background: url("https://source.unsplash.com/AH8zKXqFITA") no-repeat center
    center fixed;
  background-color: rgba(0, 0, 0, 0.614);
  background-blend-mode: multiply;
  min-height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  top: 0;
  bottom: 0;
  background-size: cover;
}

.cta-banner {
  background: url("https://source.unsplash.com/oARPb2dEOtQ") no-repeat center
    center;
  background-color: rgba(0, 0, 0, 0.614);
  background-blend-mode: multiply;
  min-height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  top: 0;
  bottom: 0;
  background-size: cover;
  border-radius: 10px;
}
